body {
  width: 700px;
  margin: 0 auto;
  padding: 100px 0;
  
  font-family: serif;

  background: linear-gradient(rgb(20, 7, 7), rgb(46, 10, 10));
}
h1,
h2 {
  color: #1b1919;
  font-weight: normal;
  text-align: center;
}